.form{
    background:#b3b7be;
    padding:20px;
    border-radius:10px;
    width:300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option{
    display: flex;
    flex-direction: column;
}

#link{
    display: flex;
    flex-direction:row;
}
.link{
    color: aqua;
    margin: 10px;
}

#backbutton{
    display: flex;
    flex-direction:column;
}