
body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #2e416d;
}

.form{
    background:#b3b7be;
    padding:20px;
    border-radius:10px;
    width:300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option{
    display: flex;
    flex-direction: column;
}

#accounts{
    display: flex;
    flex-direction: column;
}
#acc_head{
    color: #54a7ff;
}
.account_card{
    display: flex;
    flex-direction: row;
    color: #b3b7be;
    margin-bottom: 10px;
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: aliceblue;
}
.acc{
    display: flex;
    flex-direction: column;
}
.acc_ele{
    margin: 8px;
}

#link{
    display: flex;
    flex-direction:row;
}
.link{
    color: aqua;
    margin: 10px;
}

#backbutton{
    display: flex;
    flex-direction:column;
}

#tran_tab{
    color: aliceblue;
}
