<!DOCTYPE html>
<html>
<head>
    <title>Bank Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transactions.css') }}">
</head>
<body>

<div>
    <h2>Transaction History</h2>
    <!-- <div>
        <form method="post" action="/transactions">

            <label>Year</label>
            <select name="year">
                <option value="">Select Year</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
            </select>
        
            <label>Month</label>
            <select name="month">
                <option value="">Select Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        
            <button type="submit">Filter</button>
        
        </form>
    </div> -->

    <br>
    
    <div id="tran_tab">
        {% if data %}
    <div>
        <div>
            <a href="/export">
                <button>Export CSV</button>
            </a>
        </div>
        <br>
        <div>
            <table border="1" cellpadding="10" style="width:100%; text-align:center;">
                <tr>
                    <th>Account No</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Date & Time</th>
                </tr>
                {% for d in data %}
                <tr>
                    <td>{{ d[1] }}</td>
                    <td>₹{{ d[2] }}</td>
                    <td>{{ d[3] }}</td>
                    <td>{{ d[4] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% else %}
        <p>No transactions found</p>
    {% endif %}
    </div>
    <br>
    <a href="/dashboard" class="link">⬅ Back to Dashboard</a>
</div>
</body>
</html>