<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
        {% endif %}
        {% endwith %}
    </div>

    <div>
        <form action="/withdraw" method="post">
            <div>
                <label for="acc_num">Accounts</label>
                <select name="acc_num" id="acc_num">
                    {% for acc in accounts %}
                        <option value="{{acc}}">{{acc}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount">
            </div>
            <div>
                <label for="tpin">T pin</label>
                <input type="password" name="tpin" id="tpin">
            </div>
            <div>
                <button type="submit">Withdraw</button>
            </div>
        </form>
    </div>

</body>
</html>